---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const isInternalLink = href && !href.toString().startsWith("http");
const isAnchorLink = href && href.toString().startsWith("#");
---

{
    isInternalLink || isAnchorLink ? (
        <a href={href} class={className} {...props}>
            <slot />
        </a>
    ) : (
        <a
            target="_blank"
            class={className}
            rel="noopener noreferrer"
            href={href}
            {...props}
        >
            <slot />
        </a>
    )
}
